Calculator/Calculator/Debug/Calculator.log
Calculator/Calculator.VC.VC.opendb
Calculator/Calculator/Debug/Calculator.tlog/CL.command.1.tlog
Calculator/Calculator/Debug/Calculator.tlog/CL.read.1.tlog
Calculator/Calculator/Debug/Calculator.tlog/CL.write.1.tlog
Calculator/Calculator/Debug/Calculator.tlog/Calculator.lastbuildstate
Calculator/Calculator/Debug/Calculator.tlog/link.command.1.tlog
Calculator/Calculator/Debug/Calculator.tlog/link.read.1.tlog
Calculator/Calculator/Debug/Calculator.tlog/link.write.1.tlog
Calculator/Calculator/Debug/Source.obj
Calculator/Calculator/Debug/vc140.idb
Calculator/Calculator/Debug/vc140.pdb
Calculator/Debug/Calculator.exe
Calculator/Debug/Calculator.ilk
Calculator/Debug/Calculator.pdb
